.about__container {
  row-gap: 2.5rem;
}

.about__img {
  width: 220px;
  // border-radius: 1.5rem;
  justify-self: center;
}

.about__data {
  text-align: center;
}

.about__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.about__box {
  @include themify($themes) {
    background-color: themed(container-color);
    box-shadow: themed(btn-box-shadow);
  }
  padding: 0.75rem 0.5rem;
  border-radius: 0.75rem;
}

.about__icon {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: $primary-color;
}

.about__title {
  font-size: $small-font-size;
}

.about__subtitle {
  font-size: $tiny-font-size;
}

.about__description {
  margin-bottom: 2rem;
}
