.header {
  @include themify($themes) {
    background-color: themed(body-color);
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-fixed;
  transition: 0.4s;
}

// CHANGE BACKGROUND HEADER CLASS
.scroll-header {
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, 0.3);
}
.theme-dark .scroll-header {
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: $primary-color;
  font-weight: $font-medium;
  transition: 0.4s;
  width: 1.8rem;
}

.nav__logo:hover {
  color: $primary-color-alt;
}

.change-theme {
  font-size: 1.25rem;
  transition: 0.3s;
  cursor: pointer;
}

.change-theme:hover {
  color: $primary-color;
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla($secondary-hue, 32%, 16%, 0.8);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);
  transition: 0.4s;
}

.theme-light .nav__menu {
  background-color: hsla($secondary-hue, 32%, 90%, 0.8);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  @include themify($themes) {
    color: themed(text-color);
  }
  display: flex;
  padding: 0.4rem;
  border-radius: 5rem;
  font-size: 1.25rem;
}

.active-link {
  @include themify($themes) {
    color: themed(title-color);
  }
  background: linear-gradient(
    180deg,
    hsla($primary-hue, $sat, $lig, 1),
    hsla($primary-hue, $sat, $lig, 0.2)
  );
  box-shadow: 0 0 16px hsla($primary-hue, $sat, $lig, 0.4);
}
