.side-project__container {
  padding-top: 1rem;
}

.side-project__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}

.side-project__item {
  @include themify($themes) {
    color: themed(title-color);
  }

  padding: 0.25rem 0.75rem;
  font-weight: $font-medium;
  border-radius: 0.5rem;
  cursor: pointer;
}

.active-item {
  @include themify($themes) {
    color: themed(body-color);
  }

  background-color: $primary-color;
}

.side-project__card {
  @include themify($themes) {
    background-color: themed(container-color);
    box-shadow: themed(card-box-shadow);
  }

  padding: 1rem;
  border-radius: 1rem;
}

.side-project__card-hide {
  display: none;
}

.side-project__img {
  border-radius: 1rem;
  margin-bottom: 0.75rem;
}

.side-project__title {
  margin-bottom: 0.25rem;
  font-size: $small-font-size;
  font-weight: $font-medium;
}

.side-project__description{
  line-height: 1.5;
}

.side-project--button__container {
  display: flex;
}

.side-project__button {
  width: max-content;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  margin-top: 1rem;
  margin-right: 1rem;
  color: $primary-color;
  font-size: $little-font-size;
}

.side-project__button:hover .side-project__icon {
  transform: translateX(0.25rem);
}

.side-project__icon {
  font-size: 1rem;
  transition: 0.4s;
}