.skills__container {
  padding-top: 1rem;
  row-gap: 2rem;
}

.skills__content {
  @include themify($themes) {
    background-color: themed(container-color);
    box-shadow: themed(card-box-shadow);
  }
  padding: 1.5rem;
  border-radius: 1.25rem;
}

.skills__title {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: $normal-font-size;
  font-weight: $font-medium;
  color: $primary-color;
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills__group {
  display: grid;
  align-content: center;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}

.skills .bxs-badge-check {
  font-size: 1rem;
  color: $primary-color;
}

.skills__name {
  font-size: $normal-font-size;
  font-weight: $font-medium;
  line-height: 18px;
}

.skills__level {
  font-size: $tiny-font-size;
}
