.container {
  // max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: $h2-font-size;
  color: $primary-color;
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: $smaller-font-size;
  color: $text-color-light;
}

.button {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: $font-medium;
  color: $body-color;
  background-color: $primary-color;
  transition: 0.4s;
}

.button--transparent {
  background-color: transparent;
  border: 2px solid $primary-color;
  color: $primary-color;
}

.button:hover {
  background-color: $primary-color-alt;
  color: $body-color;
}
