// colors
// Christalle: hsl(233, 52%, 24%)
// Sky Blue: hsl(204, 81%, 71%)
// Chablis: hsl(29, 87%, 94%)
$primary-hue: 204;
$sat: 81%;
$lig: 71%;
$secondary-hue: 29;

$primary-color: hsl($primary-hue, $sat, $lig);
$primary-color-alt: hsl($primary-hue, $sat, 51%); /* -4% */

$title-color: hsl($secondary-hue, 15%, 95%);
$text-color: hsl($secondary-hue, 8%, 75%);
$text-color-light: hsl($secondary-hue, 4%, 55%);
$body-color: hsl($secondary-hue, 48%, 8%);
$container-color: hsl($secondary-hue, 32%, 12%);

// z index
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

$header-height: 3.5rem;
